<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Code Enter</title>
<style type="text/css">
#apDiv1 {
	position: absolute;
	width: 460px;
	height: 45px;
	z-index: 1;
}
</style>
<link href="SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body,td,th {
	font-family: "Century Gothic";
}
</style>
<script src="SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
</head>

<body>
<div id="apDiv1">Enter your class code : <span id="sprytextfield1">
  <label for="Text for code"></label>
  <input type="text" name="Text for code" id="Text for code" />
  <input type="submit" name="Submit" id="Submit" value="Submit Code" />
  <span class="textfieldRequiredMsg">A value is required.</span></span>
  <form id="form1" name="form1" method="post" action="">
  </form>
  <p>&nbsp;</p>
</div>
<script type="text/javascript">
var sprytextfield1 = new Spry.Widget.ValidationTextField("sprytextfield1");
</script>
</body>
</html>

