body {
    background-color: #EBEBEB;
}

.logocontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

.center {
    display: block;
    margin: auto;
}

p {
    text-align: center;
    font-size: 50px;
    color: #9e9d9d;
    margin: 5px 20px 35px 20px;
}

button {
    font-family: "Century Gothic"; 
    font-size: 60px;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 30%;  
    display: block;
    margin: 10px auto 10px auto;
    border-radius: 12px;
}

 button:hover {
     opacity: 0.8;
 }

input {
     font-family: "Century Gothic";
     font-size: 55px;
     text-align: center;
     color: #7a7a7a;
     padding: 14px 20px;
     border: none;
     width: 27%;  
     display: block;    
     margin: 10px auto 10px auto;
     border: 2px solid #7a7a7a;
     border-radius: 12px;
     background-color: #EBEBEB;
 }

 .submit {
    background-color: #355c7d;    
 }
