body {
    background-color: #EBEBEB;
}

.logocontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

.center {
    display: block;
    margin: auto;
}

p {
    text-align: center;
    font-size: 50px;
    color: #7a7a7a;
    margin: 5px 20px 35px 20px;
}

button {
    font-family: "Century Gothic"; 
    font-size: 60px;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 30%;  
    display: block;
    margin: 10px auto 10px auto;
    border-radius: 12px;
}

.student {
    background-color: #355c7d;
    
 }

 .teacher {
    background-color: #EF476F;
 }

 button:hover {
     opacity: 0.8;
 }